<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mp">
     
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find mp_controller)/config/mp_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo reference="rgb_camera">
        <sensor name="camera" type="camera">
            <always_on>true</always_on>
            <update_rate>15.0</update_rate>
            <visualize>true</visualize>
            <topic>image_raw</topic>  <!-- Remove leading slash -->
            <camera name="camera">
                <horizontal_fov>1.21126</horizontal_fov>
                <image>
                    <width>2304</width>
                    <height>1296</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>100.0</far>
                </clip>
            </camera>
            <plugin name="camera_plugin" filename="libgazebo_ros_camera.so">
                <ros>
                    <namespace>mp</namespace>
                </ros>
                <camera_name>rgb_camera</camera_name>
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>   
    </gazebo>

    <!-- <gazebo reference="rgb_camera">
    <sensor name="camera" type="camera">
        <always_on>true</always_on>
        <update_rate>30.0</update_rate>
        <visualize>true</visualize>
        <topic>image_raw</topic>  
        <camera name="camera">
            <horizontal_fov>1.21126</horizontal_fov>
            <image>
                <width>2304</width>
                <height>1296</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.1</near> 
                <far>100.0</far>
            </clip>
            <distortion>
                <k1>0.0</k1>
                <k2>0.0</k2>
                <k3>0.0</k3>
                <p1>0.0</p1>
                <p2>0.0</p2>
                <center>0.5 0.5</center>
            </distortion>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <ros>
                <namespace>${namespace}</namespace>  
                <remapping>image_raw:=image</remapping>
            </ros>
            <camera_name>rgb_camera</camera_name>
            <frame_name>camera_link_optical</frame_name> 
        </plugin>
    </sensor>   
</gazebo> -->
        
        

</robot>